@media only screen and (max-width: 600px) {
    .homeblog_main {
        width: 100%;
        height: 53.8125rem;
        background: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/Blogs.png') no-repeat;
        background-size: cover;
        /* Cover the entire container without repeating */
    }

    .homeblog_Container {
        padding: 36px 24px;
    }

    .homeblog_titletext {
        color: #006C68;
        font-family: "EB Garamond";
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.3rem;
        /* 3.6rem */
    }

    .homeblog_paratext {
        margin-top: 16px;
        color: #006C68;
        /* font-family: "Proxima Nova"; */
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 2.625rem */
    }

    .homeblog_buttontext1 {
        margin-top: 40px;
        display: flex;
        /* width: 12.625rem; */
        height: 3.1875rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        background: #006C68;
        color: #FFF;
        /* font-family: "Proxima Nova"; */
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* 1.6875rem */
    }

    .homeblog_imageConatiner {
        margin-top: 3.563rem;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }

    .homeblog_leftimagediv {
        width: 21.5rem;
        height: 25.875rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/0306384f6d0c935cede0a63088d83c43.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_leftimageinsidediv {
        width: 21.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_indicator {
        margin: 30px;
        width: max-content;
        height: 32px;
        border-radius: 8px;
        border: 0.2px solid #DBDBDB;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        background-color: #FFF;
        padding: 4px 8px 4px 8px;
        text-transform: capitalize;
    }

    .homeblog_leftimageinsidebottomdiv {
        width: 100%;
        height: 13.125rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        padding: 30px;
    }

    .homeblog_leftsideTitle {
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideDescription {
        width: 18rem;
        margin-top: 0.5rem;
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideReadmorebutton {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
        cursor: pointer;
    }

    .homeblog_rightimagedivtop {
        display: none;
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/7886413568841ee33b0d661b1133a9a4.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_rightimagedivbottom {
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/c0521044e8566175f0f0b08d05251e9a.jpeg');
        background-repeat: no-repeat;
        background-size: center;
    }

    .homeblog_rightimageinsidediv {
        /* width: 50%; */
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_rightimageinsidebottomdiv {
        width: 100%;
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .homeblog_main {
        width: 100%;
        height: 53.8125rem;
        background: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/Blogs.png') no-repeat;
        background-size: cover;
        /* Cover the entire container without repeating */
    }

    .homeblog_Container {
        padding: 36px 24px;
    }

    .homeblog_titletext {
        color: #006C68;
        font-family: "EB Garamond";
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.3rem;
        /* 3.6rem */
    }

    .homeblog_paratext {
        margin-top: 16px;
        color: #006C68;
        /* font-family: "Proxima Nova"; */
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 2.625rem */
    }

    .homeblog_buttontext1 {
        margin-top: 40px;
        display: flex;
        /* width: 12.625rem; */
        height: 3.1875rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        background: #006C68;
        color: #FFF;
        /* font-family: "Proxima Nova"; */
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* 1.6875rem */
    }

    .homeblog_imageConatiner {
        margin-top: 3.563rem;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }

    .homeblog_leftimagediv {
        width: 21.5rem;
        height: 25.875rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/0306384f6d0c935cede0a63088d83c43.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_leftimageinsidediv {
        width: 21.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_indicator {
        margin: 30px;
        width: max-content;
        height: 32px;
        border-radius: 8px;
        border: 0.2px solid #DBDBDB;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        background-color: #FFF;
        padding: 4px 8px 4px 8px;
        text-transform: capitalize;
    }

    .homeblog_leftimageinsidebottomdiv {
        width: 100%;
        height: 13.125rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        padding: 30px;
    }

    .homeblog_leftsideTitle {
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideDescription {
        width: 18rem;
        margin-top: 0.5rem;
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideReadmorebutton {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
        cursor: pointer;
    }

    .homeblog_rightimagedivtop {
        display: none;
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/7886413568841ee33b0d661b1133a9a4.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_rightimagedivbottom {
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/c0521044e8566175f0f0b08d05251e9a.jpeg');
        background-repeat: no-repeat;
        background-size: center;
    }

    .homeblog_rightimageinsidediv {
        /* width: 50%; */
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_rightimageinsidebottomdiv {
        width: 100%;
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
    .homeblog_main {
        width: 100%;
        height: 53.8125rem;
        background: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/Blogs.png') no-repeat;
        background-size: cover;
        /* Cover the entire container without repeating */
    }

    .homeblog_Container {
        padding: 80px 64px;
    }

    .homeblog_titletext {
        color: #006C68;
        font-family: "EB Garamond";
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 3.6rem */
    }

    .homeblog_paratext {
        color: #006C68;
        /* font-family: "Proxima Nova"; */
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 2.625rem */
    }

    .homeblog_buttontext {
        display: flex;
        width: 12.625rem;
        height: 3.1875rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        background: #006C68;
        color: #FFF;
        /* font-family: "Proxima Nova"; */
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* 1.6875rem */
    }

    .homeblog_imageConatiner {
        margin-top: 3.563rem;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }

    .homeblog_leftimagediv {
        width: 40.375rem;
        height: 32.625rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/0306384f6d0c935cede0a63088d83c43.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_leftimageinsidediv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_indicator {
        margin: 30px;
        width: max-content;
        height: 32px;
        border-radius: 8px;
        border: 0.2px solid #DBDBDB;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        background-color: #FFF;
        padding: 4px 8px 4px 8px;
        text-transform: capitalize;
    }

    .homeblog_leftimageinsidebottomdiv {
        height: 13.125rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        padding: 30px;
    }

    .homeblog_leftsideTitle {
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideDescription {
        width: 23rem;
        margin-top: 0.5rem;
        /* font-family: 'Proxima Nova', sans-serif; */
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
    }

    .homeblog_leftsideReadmorebutton {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: #FFFFFF;
        cursor: pointer;
    }

    .homeblog_rightimagedivtop {
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/7886413568841ee33b0d661b1133a9a4.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeblog_rightimagedivbottom {
        width: 100%;
        height: 15.688rem;
        border-radius: 1.25rem;
        background-image: url('https://romsons.s3.ap-south-1.amazonaws.com/site-assets/homepage/Blogs/c0521044e8566175f0f0b08d05251e9a.jpeg');
        background-repeat: no-repeat;
        background-size: center;
    }

    .homeblog_rightimageinsidediv {
        /* width: 50%; */
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;

    }

    .homeblog_rightimageinsidebottomdiv {
        width: 100%;
        height: 15.688rem;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 42%);
        border-radius: 1.25rem;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}